@use 'vars/variables' as *;
@use 'vars/mixins' as *;

.bannerHomeMain {
    position: relative;
    height: 480px;
    margin-top: 3rem;

    // 1️⃣ Si el ancho es mayor a 992px y el alto es menor a 780px
    @media (min-width: 992px) and (max-height: 680px) {
        height: 680px;
    }

    // @media (min-width: 992px) and (min-height: 585px) {
    @media (min-width: 992px) and (min-height: 681px) {
        margin-top: 4rem;
        height: calc(100vh - 4rem);
        // height: 680px;
    }


    @media (min-width: 1400px) and (min-height: 681px) {
        margin-top: 4rem;
        height: 850px;
    }

    @media (min-width: 1400px) and (max-height: 680px) {
        margin-top: 4rem;
        height: 850px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom,
                rgba($azulP, 0),
                /* parte superior (negro con opacidad .35) */
                rgba($azulP, .7)
                /* parte inferior (transparente) */
            );
        z-index: 2;
    }

    .imageFull {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .titularBanner {
        font-family: var(--font-poppins), sans-serif;
        line-height: 2.5rem;
        font-size: 2.25em;
        color: white;
        font-weight: 500;

        @media screen and (min-width: 992px) {
            // line-height: 1.15em;
            // font-size: 2.85rem;
            line-height: 1.08em;
            font-size: 3rem;
        }

        @media screen and (min-width: 1200px) {
            line-height: 1.08em;
            font-size: 3rem;
        }

        @media screen and (min-width: 1400px) {
            line-height: 1.15em;
            font-size: 3.25rem;
        }

        @media screen and (min-width: 1600px) {
            line-height: 1em;
            font-size: 4.35rem;
        }
    }

    .descripcionBanner {
        font-family: var(--font-poppins), sans-serif;
        line-height: 1rem;
        font-size: .85em;
        color: #fff;
        font-weight: 400;
        margin: 1rem 0;

        @media screen and (min-width: 992px) {
            line-height: 1.35em;
            font-size: 1rem;
        }

        @media screen and (min-width: 1200px) {
            line-height: 1.35em;
            font-size: 1.1rem;
        }

        @media screen and (min-width: 1400px) {
            line-height: 1.35em;
            font-size: 1.25rem;
        }

        @media screen and (min-width: 1600px) {
            line-height: 1.35em;
            font-size: 1.5rem;
        }
    }

    .infoContainer {
        position: relative;
        z-index: 20;
        border: 0px solid red;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        >div {
            width: 100%;
        }

        .gridContainer {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 1rem;

            >div {
                grid-column: 1 / -1;
                padding-left: 0rem;

                @media screen and (min-width: 768px) {
                    grid-column: 1 / span 7;
                    padding-left: 2rem;
                }

                @media screen and (min-width: 992px) {
                    grid-column: 1 / span 6;
                }

                @media screen and (min-width: 1400px) {
                    grid-column: 1 / span 5;
                }

                @media screen and (min-width: 1600px) {
                    grid-column: 1 / span 6;
                }

                .btnStandart {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                }

                .infoVideo {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 2.5rem;
                    margin-bottom: .5rem;
                    margin-top: -1rem;

                    >div {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: .65rem;
                    }
                }
            }
        }
    }
}



.bannerInternoContainer {
    background: $azulP;
    height: 500px;
    border-bottom: 0px solid $rojoP;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 768px) {
        height: 500px;
    }

    // 1️⃣ Si el ancho es mayor a 992px y el alto es menor a 780px
    @media (min-width: 992px) and (max-height: 680px) {
        height: 680px;
    }

    // @media (min-width: 992px) and (min-height: 585px) {
    @media (min-width: 992px) and (min-height: 681px) {
        margin-top: 4rem;
        height: 580px;
        // height: calc(100vh - 4rem);
    }

    @media (min-width: 1400px) and (min-height: 681px) {
        margin-top: 4rem;
        height: 750px;
    }

    @media (min-width: 1400px) and (max-height: 680px) {
        margin-top: 4rem;
        height: 750px;
    }

    .imgContainerFullPage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        // position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(#000, .5);
            z-index: 1;

            @media screen and (min-width: 992px) {
                background: rgba(#000, 0);
            }
        }
    }

    .fechaContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        margin-top: 1.5rem;

        >div {
            &:last-child {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: .5rem;

                img {
                    width: 16px;
                    height: auto;
                    object-fit: contain;
                }

                h4 {
                    font-family: var(--font-misti), sans-serif;
                    font-weight: 400;
                    font-size: 0.875rem;
                    line-height: 1.5em;
                    letter-spacing: -.05em;
                    color: $celesteP;

                    @media screen and (min-width: 992px) {
                        font-size: 0.875em;
                        line-height: 1.5em;
                    }
                }
            }

            &:first-child {
                font-family: var(--font-misti), sans-serif;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.5em;
                letter-spacing: -.05em;
                color: #1A172B;
                text-transform: uppercase;
                background: $celesteP;
                padding: .25rem 1.75rem;
                display: inline-block;
                border-radius: 30px;

                @media screen and (min-width: 992px) {
                    font-size: 0.875em;
                    line-height: 1.5em;
                }
            }
        }
    }

    .descripcionBanner {
        font-family: var(--font-misti), sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.25em;
        letter-spacing: -.05em;
        color: #FFFFFF;

        @media screen and (min-width: 992px) {
            font-size: 1.2em;
            line-height: 1.25em;
        }

        @media screen and (min-width: 1200px) {
            font-size: 1.3em;
            line-height: 1.35em;
        }

        @media screen and (min-width: 1400px) {
            font-size: 1.375em;
            line-height: 1.35em;
        }
    }

    .titularBanner {
        font-family: var(--font-misti), sans-serif;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.15em;
        letter-spacing: -.05em;
        color: #FFFFFF;

        @media screen and (min-width: 992px) {
            font-size: 2.85em;
            line-height: 1.15em;
        }

        @media screen and (min-width: 1200px) {
            font-size: 3.25em;
            line-height: 1em;
        }

        @media screen and (min-width: 1400px) {
            font-size: 4em;
            line-height: 1.15em;
        }

        br {
            display: none;

            @media screen and (min-width: 992px) {
                display: block;
            }
        }
    }

    .migasTitular {
        font-family: var(--font-misti), sans-serif;
        font-weight: 400;
        font-size: .75rem;
        line-height: 1em;
        letter-spacing: -.05em;
        color: $celesteP;

        @media screen and (min-width: 992px) {
            font-size: 1em;
            line-height: 1.25em;
        }

        &.principal {
            color: #E7F6FB;
        }

        br {
            display: none;
        }
    }


    .btnExternoContainer {
        margin-top: 1.5rem;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        align-items: center;
    }

    .containerFluid {
        padding: 8rem 0 0;
        height: 100%;
        position: relative;
        z-index: 10;

        @media screen and (min-width: 992px) {
            padding: 0 2vw 0 0;
        }
    }

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        height: 100%;


        >div {
            &:nth-child(2) {
                grid-column: 1 / -1;
                position: relative;
                order: 1;
                height: 445px;

                @media screen and (min-width: 768px) {
                    grid-column: 7 / -1;
                    order: 2;
                    height: auto;
                }

                .curvaImg {
                    position: absolute;
                    top: 0;
                    left: -4rem;
                    height: 100%;
                    width: 156px;
                    z-index: 10;
                    display: none;

                    @media screen and (min-width: 768px) {
                        display: block;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                        @media screen and (min-width: 1600px) {
                            width: 116%;
                            height: 106%;
                        }
                    }
                }

                .curvaImgM {
                    position: absolute;
                    bottom: -5rem;
                    left: 0rem;
                    height: 120px;
                    width: 100%;
                    z-index: 10;
                    display: block;

                    @media screen and (min-width: 768px) {
                        display: none;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .imgContainer {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;

                    @media screen and (min-width: 992px) {
                        right: -2vw;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: bottom left;
                    }
                }
            }

            &:nth-child(1) {
                grid-column: 1 / -1;
                order: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0rem 1rem 0;
                position: relative;
                z-index: 30;
                margin-top: -2rem;
                border: 0px solid red;
                min-height: 300px;

                @media screen and (min-width: 768px) {
                    grid-column: 1 / span 6;
                    justify-content: center;
                    order: 1;
                    padding: 0 0 0 2vw;
                    margin-top: 0rem;
                    min-height: auto;
                }



                .breadcrumbContainer {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: .5rem;



                    a {
                        text-decoration: none;
                    }
                }

                .titularContainer {
                    margin: 1rem 0;

                    p {
                        margin-top: 1rem;
                    }
                }

                .btnContainer {
                    display: flex;
                    justify-content: flex-start;
                    gap: 1rem;
                    align-items: center;
                    margin-top: .5rem;
                    cursor: pointer;

                    @media screen and (min-width: 992px) {
                        margin-top: 1.5rem;
                    }

                    .iconArrow {
                        width: 45px;
                        height: 45px;

                        @media screen and (min-width: 992px) {
                            width: 50px;
                            height: 50px;
                        }

                        @media screen and (min-width: 1400px) {
                            width: 62px;
                            height: 62px;
                        }
                    }
                }
            }
        }
    }
}

.lecherosContainer {
    position: relative;
    height: 700px;
    padding-bottom: 4rem;

    @media screen and (min-width: 768px) {
        height: 620px;
        padding-bottom: 0rem;
    }

    @media screen and (min-width: 992px) {
        height: 620px;
    }

    @media screen and (min-width: 1200px) {
        height: 600px;
    }

    @media screen and (min-width: 1400px) {
        height: 700px;
    }

    @media screen and (min-width: 1600px) {
        height: 780px;
    }

    .containerFluid {
        height: 100%;
    }

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        position: relative;
        z-index: 10;
        height: 100%;

        >div {
            grid-column: 1 / -1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;

            @media screen and (min-width: 768px) {
                grid-column: 1 / span 6;
                justify-content: center;
            }

            @media screen and (min-width: 1600px) {
                grid-column: 1 / span 5;
            }

            .mantoContainer {
                background: $azulP;
                padding: 3rem 1.5rem 4rem;
                border-radius: 20px;
                position: relative;
                margin-top: 2rem;

                @media screen and (min-width: 768px) {
                    padding: 3rem 2rem 4rem;
                }

                /* curva arriba */
                &::before {
                    content: '';
                    position: absolute;
                    top: -42px;
                    /* depende del radio */
                    left: 0;
                    width: 100%;
                    height: 80px;
                    /* doble del "radio" deseado */
                    background-color: $azulP;
                    border-radius: 100% 100% 0 0;
                }

                @media screen and (min-width: 1200px) {
                    padding: 3rem 4rem 4rem;
                }

                @media screen and (min-width: 1400px) {
                    padding: 3rem 5rem 4rem;
                }

                .logoGanadero {
                    margin-bottom: 1rem;

                    img {
                        width: 120px;
                        height: auto;
                        object-fit: cover;

                        @media screen and (min-width: 1400px) {
                            width: 140px;
                        }
                    }
                }

                .footerContainer {
                    margin-top: 2rem;
                    display: flex;
                    justify-content: space-between;

                    >div {
                        &:nth-child(2) {
                            display: none;

                            @media screen and (min-width: 992px) {
                                display: block;
                            }
                        }
                    }
                }

                p {
                    margin: 1rem 0;
                }

                .titularContainer {
                    h2 {
                        letter-spacing: -.05em;
                    }
                }
            }

        }
    }

    .bgFullPage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: -900px 0;

            @media screen and (min-width: 768px) {
                object-position: center;
            }
        }
    }
}

.BannerProductoContainer {
    position: relative;
    height: 500px;
    padding-bottom: 4rem;


    @media screen and (min-width: 768px) {
        height: 620px;
        padding-bottom: 0rem;
    }

    @media screen and (min-width: 992px) {
        height: 620px;
    }

    @media screen and (min-width: 1200px) {
        height: 600px;
    }

    @media screen and (min-width: 1400px) {
        height: 700px;
    }

    @media screen and (min-width: 1600px) {
        height: 780px;
    }



    .containerFluid {
        height: 100%;
    }

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        position: relative;
        z-index: 10;
        height: 100%;

        >div {
            grid-column: 1 / -1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            @media screen and (min-width: 768px) {
                grid-column: 1 / span 6;
                justify-content: center;
            }

            @media screen and (min-width: 1600px) {
                grid-column: 1 / span 5;
            }



        }
    }

    .bgFullPage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            @media screen and (min-width: 768px) {
                object-position: center;
            }
        }
    }
}

.bannerContainer {
    position: relative;
    height: 480px;
    margin-top: 3rem;

    // 1️⃣ Si el ancho es mayor a 992px y el alto es menor a 780px
    @media (min-width: 992px) and (max-height: 680px) {
        height: 680px;
    }

    // @media (min-width: 992px) and (min-height: 585px) {
    @media (min-width: 992px) and (min-height: 681px) {
        margin-top: 0rem;
        height: calc(100vh - 0rem);
    }

    .fullVideoContainerDiv {
        width: 100%;
        height: 480px;

        // 1️⃣ Si el ancho es mayor a 992px y el alto es menor a 780px
        @media (min-width: 992px) and (max-height: 680px) {
            height: 680px;
        }

        // @media (min-width: 992px) and (min-height: 585px) {
        @media (min-width: 992px) and (min-height: 681px) {
            margin-top: 0rem;
            height: calc(100vh - 0rem);
        }
    }


    .titularBanner {
        font-family: var(--font-poppins), sans-serif;
        line-height: 2.5rem;
        font-size: 2.25em;
        color: #fff;
        font-weight: 500;

        @media screen and (min-width: 992px) {
            line-height: 1.15em;
            font-size: 2.85rem;
        }

        @media screen and (min-width: 1200px) {
            line-height: 1.18em;
            font-size: 3rem;
        }

        @media screen and (min-width: 1400px) {
            line-height: 1.2em;
            font-size: 3.5rem;
        }

        @media screen and (min-width: 1600px) {
            line-height: 1.15em;
            font-size: 5rem;
        }
    }

    .descripcionBanner {
        margin-top: .25rem;
        margin-bottom: 1rem;

        font-family: var(--font-poppins), sans-serif;
        line-height: 1rem;
        font-size: .85em;
        // color: #F7E6CD;
        color: #fff;
        font-weight: 400;
        margin-top: 1.25rem;

        @media screen and (min-width: 992px) {
            line-height: 1.35em;
            font-size: 1rem;
        }

        @media screen and (min-width: 1200px) {
            line-height: 1.35em;
            font-size: 1.25rem;
        }

        @media screen and (min-width: 1600px) {
            line-height: 1.35em;
            font-size: 1.5rem;
            width: 680px;
        }

        @media screen and (min-width: 992px) {
            margin-top: .75rem;
        }

        p {
            font-family: var(--font-poppins), sans-serif;
            line-height: 1rem;
            font-size: .85em;
            color: #fff;
            font-weight: 400;

            @media screen and (min-width: 992px) {
                line-height: 1.35em;
                font-size: 1rem;
            }

            @media screen and (min-width: 1200px) {
                line-height: 1.35em;
                font-size: 1.1rem;
            }

            @media screen and (min-width: 1600px) {
                line-height: 1.35em;
                font-size: 1.35rem;
                padding-right: 4rem;
            }
        }
    }

    .infoCenter {
        position: relative;
        z-index: 20;
        border: 0px solid red;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        >div {
            width: 100%;
        }

        .gridContainer {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 1rem;

            >div {
                grid-column: 1 / span 10;
                padding-left: 0rem;

                @media screen and (min-width: 768px) {
                    grid-column: 1 / span 7;
                    padding-left: 2rem;
                }

                @media screen and (min-width: 992px) {
                    grid-column: 1 / span 7;
                }

                @media screen and (min-width: 1200px) {
                    grid-column: 1 / span 6;
                }

                @media screen and (min-width: 1600px) {
                    grid-column: 1 / span 8;
                }

                .btnStandart {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                }

                .infoVideo {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 2.5rem;
                    margin-bottom: .5rem;
                    margin-top: -1rem;

                    >div {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: .65rem;
                    }
                }
            }
        }
    }



}

.fullPageBanner {
    position: relative;
    height: 680px;

    @media (min-width: 992px) and (min-height: 585px) {
        height: 100vh;
    }

    .containerFluid {
        position: relative;
        z-index: 10;
        height: 100%;

        .gridContainer {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 1rem;
            height: 100%;

            >div {
                grid-column: 1 / -1;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media screen and (min-width: 992px) {
                    grid-column: 1 / span 6;
                }

                .logoContainer {
                    margin-bottom: 1rem;
                }

                .titleHeader {
                    p {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    .imageContainer {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}