@use 'vars/variables' as *;
@use 'vars/mixins' as *;

.containerContacto {
    background: $cremaP;
    padding: 6rem 0 8rem;

    .listadoContactoContainer {
        display: flex;
        gap: 1rem;
        margin-top: 3rem;

        .cardContacto {
            flex: 1;
            background: $celesteP;
            overflow: hidden;
            border-radius: 20px;
            padding: 2.5rem 2rem;

            &.bgAzul {
                background: $azulP;

                .infoContainer {
                    .btnContainer {
                        display: flex;
                        justify-content: center;
                        margin-top: 1rem;
                    }

                    a {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: #DD1A20;
                        width: 190px;
                        height: 54px;
                        border-radius: 30px;
                        overflow: hidden;
                        text-align: center;
                        font-family: var(--font-misti), sans-serif;
                        font-size: .9rem;
                        line-height: 1.5em;
                        color: #fff;
                        font-weight: 400;
                        text-decoration: none;

                        @media screen and (min-width: 992px) {
                            font-size: .95rem;
                            line-height: 1.5em;
                        }

                        @media screen and (min-width: 1400px) {
                            font-size: 1rem;
                            line-height: 1.5em;
                        }
                    }

                    h2,
                    p {
                        color: white;
                    }

                    h2 {
                        margin-bottom: .5rem;
                    }

                    h3 {
                        font-family: var(--font-misti), sans-serif;
                        font-size: .9rem;
                        line-height: 1.5em;
                        color: #8FD2EA;
                        font-weight: 400;
                        text-align: center;

                        @media screen and (min-width: 992px) {
                            font-size: .95rem;
                            line-height: 1.5em;
                        }

                        @media screen and (min-width: 1400px) {
                            font-size: 1rem;
                            line-height: 1.5em;
                        }
                    }
                }
            }

            .infoContainer {
                h2 {
                    font-family: var(--font-misti), sans-serif;
                    font-size: 1.35rem;
                    line-height: 1.5em;
                    color: #1A172B;
                    font-weight: 500;
                    text-align: center;

                    @media screen and (min-width: 992px) {
                        font-size: 1.35rem;
                        line-height: 1.5em;
                    }

                    @media screen and (min-width: 1400px) {
                        font-size: 1.75rem;
                        line-height: 1em;
                    }
                }

                p,
                a {
                    font-family: var(--font-misti), sans-serif;
                    font-size: .95rem;
                    line-height: 1.5em;
                    color: #1A172B;
                    font-weight: 400;
                    text-align: center;

                    @media screen and (min-width: 992px) {
                        font-size: 1rem;
                        line-height: 1.15em;
                    }

                    @media screen and (min-width: 1400px) {
                        font-size: 1.125rem;
                        line-height: 1.25em;
                    }

                    &.separate {
                        margin-top: 2rem;
                    }

                    &.separate2 {
                        margin-top: 1.5rem;
                    }
                }

                a {
                    color: #0083C0;
                }
            }

            h4 {
                font-family: var(--font-misti), sans-serif;
                font-size: 1rem;
                line-height: 1.5em;
                color: #0083C0;
                font-weight: 400;
                text-align: center;

                @media screen and (min-width: 992px) {
                    font-size: 1.125rem;
                    line-height: 1.5em;
                }

                @media screen and (min-width: 1400px) {
                    font-size: 1.125rem;
                    line-height: 1.5em;
                }
            }

            .iconContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 140px;
                border: 0px solid red;

                img {
                    width: 80px;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }

    .gridContacto {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;

        >div {
            &:nth-of-type(1) {
                grid-column: 2 / span 10;
                font-family: var(--font-misti), sans-serif;
                font-size: 1.35rem;
                line-height: 1.5em;
                color: #1A172B;
                font-weight: 400;

                @media screen and (min-width: 992px) {
                    font-size: 1.5rem;
                    line-height: 1.35em;
                }

                @media screen and (min-width: 1400px) {
                    font-size: 2rem;
                    line-height: 1.35em;
                }
            }
        }
    }
}