@use 'vars/variables' as *;
@use 'vars/mixins' as *;
@import "./bootstrap-custom";

body {
    background-color: $azulP;
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

.misti {
    font-family: var(--font-misti), sans-serif;
}

.poppins {
    font-family: var(--font-poppins), sans-serif;
}

.containerFluid {
    padding: 0 1rem;

    @media screen and (min-width: 992px) {
        padding: 0 2vw;
    }

    @media screen and (min-width: 1600px) {
        padding: 0 2vw;
        width: 1600px;
        margin: auto;
    }
}

.bodyContainerMain {
    // background-image: url('/bgGloria1.png'); // Ruta relativa en `public/`
    // background-size: cover; // Ajusta la imagen al tamaño de la pantalla
    // background-position: center; // Centra la imagen
    // background-repeat: no-repeat; // Evita que se repita
    // background-attachment: fixed;
    position: relative;
    // background-color: #2A2361;
    background: linear-gradient(to right, #2A2361, #1A172B);

    .bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: top;
        }
    }
}

.marginTop30 {
    margin-top: 20px !important;
}

.mbot0_5 {
    margin-bottom: .5rem !important;
}

.mbot1_5 {
    margin-bottom: 1.5rem !important;
}

.containerFluidLeft {
    padding: 0 1rem 0;

    @media screen and (min-width: 992px) {
        padding: 0 0vw 0 2vw;
    }

    @media screen and (min-width: 1600px) {
        padding: 0 2vw;
        width: 1600px;
        margin: auto;
    }

}

.containerFluidLeft2 {
    padding: 0 1rem 0;

    @media screen and (min-width: 992px) {
        padding: 0 0vw 0 2vw;
    }

    @media screen and (min-width: 1600px) {
        padding: 0 2vw;
        // width: 1600px;
        margin: auto;
    }

}

.centerTxt {
    text-align: center !important;
}

//bg Globales
.bgAzul {
    background: $azulP !important;
}

.bgCeleste {
    background: $celesteP !important;
}

// Deninicion de Color de Texto y pesos
.blancoTxt {
    color: $blancoP !important;
}

.azulTxt {
    color: $azulP !important;
}

.azulCTxt {
    color: $azulC !important;
}

.celesteTxt {
    color: $celesteP !important;
}

.negroTxt {
    color: #000 !important;
}

.rojoTxt {
    color: $rojoP !important;
}

.grisOscuroTxt {
    color: #5D5D5D !important;
}

.fontLight {
    font-weight: 300 !important;
}

.boldMedium {
    font-weight: 500 !important;
}

.notBr {
    br {
        display: none !important;
    }
}

.boldRegular {
    font-weight: 400 !important;
}

.titularFase {
    font-size: 1.25rem;
}

.bannerTitular {
    @extend %tituloBannerBase;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $tituloBanner);
    font-weight: 400;
}

.bannerParrafo {
    @extend %parrafoBannerBase;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafoBanner);
    font-weight: 300;
}

.titularPequeno {
    @extend %tituloBasePequeno;
    @include colorTexto(celeste);
    @include propiedadResponsiva(font-size, $titularPequeno);
    font-weight: 400;
}

.titularPequeno2 {
    @extend %tituloBasePequeno2;
    @include colorTexto(azul);
    @include propiedadResponsiva(font-size, $titularPequeno2);
    font-weight: 400;
}

.titularMediano {
    @extend %tituloBaseMediano;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $titularMediano);
    font-weight: 400;
}

.tituloMediano2 {
    @extend %tituloBaseMediano2;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $titularMediano2);
    font-weight: 400;
}

.titularMedianoFooter {
    @extend %tituloBaseMediano;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $titularMedianoFooter);
    font-weight: 400;
}

.titularGrande {
    @extend %tituloBaseGrande;
    @include colorTexto(celeste);
    @include propiedadResponsiva(font-size, $titularGrande);
    font-weight: 400;
}

.titularExtraGrande {
    @extend %tituloBaseExtraGrande;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $titularExtraGrande);
    font-weight: 300;
}

.parrafoMediano {
    @extend %parrafoMedianoBse;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafo);
    font-weight: 400;
}

.parrafoMedianoPop {
    @extend %parrafoMedianoBsePop;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafo);
    font-weight: 400;
}

.parrafoMediano2 {
    @extend %parrafoMedianoBse2;
    @include colorTexto(azul);
    @include propiedadResponsiva(font-size, $parrafoMediano2);
    font-weight: 400;
}

.parrafoPequeno {
    @extend %parrafoPequenoBse;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafoPequeno);
    font-weight: 400;
}

.parrafoGrande {
    @extend %parrafoGrandeBse;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafoGrande);
    font-weight: 400;
}

.parrafoExtraGrande {
    @extend %parrafoExtraGrandeBse;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafoExtraGrande);
    font-weight: 300;
}

.h1--blanco {
    @extend %tituloBaseGrande;
    @include colorTexto(blanco);
    @include tamanoTitulo(h1);
}

.mtop1_5 {
    margin-top: 1.5rem !important;
}

.btnStandart {
    @extend %btnBase;
    @include button-gradiente($rojoP, $rojoP, $blancoP);
}

// Definicon de marcas de Colores

.color1 {
    background: $colorBonle !important;
}

.color2 {
    background: $colorActivio !important;
}

.color3 {
    background: $colorPro !important;
}

.color4 {
    background: $colorGloria !important;
}

.color5 {
    background: $colorBattiMix !important;
}

.LogoProductoHeader {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    z-index: 6000;

    img {
        width: 80px;
        height: auto;
        object-fit: cover;

        @media screen and (min-width: 768px) {
            width: 121px;
        }
    }

    &.Pro {
        transform: translateX(-50%);
        top: 2.5rem;

        img {
            width: 50px;
            height: auto;
            object-fit: cover;

            @media screen and (min-width: 768px) {
                width: 50px;
            }
        }
    }

    &.Bonle {
        transform: translateX(-50%);
        top: 3rem;

        @media screen and (min-width: 768px) {
            top: 3.5rem;
        }

        img {
            width: 100px;
            height: auto;
            object-fit: cover;

            @media screen and (min-width: 768px) {
                width: 150px;
            }
        }
    }
}

.containerHomeMain {
    margin-top: 0rem;
    position: relative;
    z-index: 30;

    @media screen and (min-width: 768px) {
        margin-top: -3rem;
    }

    @media screen and (min-width: 992px) {
        margin-top: -5rem;
    }

    @media screen and (min-width: 1200px) {
        margin-top: -6rem;
    }
}


.bgBody {
    background-image: url('/bgAzul2.webp'); // Ruta relativa en `public/`
    background-size: cover; // Ajusta la imagen al tamaño de la pantalla
    background-position: top top; // Centra la imagen
    background-repeat: no-repeat; // Evita que se repita
}



// Esto es para el banner principal del HOME

.bannerCarruselHome {
    mask-image: linear-gradient(to top, transparent 0%, $azulP 10%);

    .swiper-button-next,
    .swiper-button-prev {
        top: var(--swiper-navigation-top-offset, 43%);

        @media screen and (min-width: 992px) {
            top: var(--swiper-navigation-top-offset, 50%);
        }

        svg {
            path {
                fill: white;
            }
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        color: white;
        border: 0px solid red;
    }

    .swiper-pagination {
        text-align: right;
        padding-right: 2rem;
    }

    .swiper-pagination-bullet {
        width: 54px;
        height: 4px;
        background: white;
        border-radius: 4px;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 6rem;
        left: auto;
        width: 100%;
        right: 0;

        @media screen and (min-width: 678px) {
            bottom: 8rem;
        }

        @media screen and (min-width: 992px) {
            bottom: 13rem;
            width: 50%;
        }

        @media screen and (min-width: 1200px) {
            bottom: 10rem;
        }

        @media screen and (min-width: 1600px) {
            bottom: 13rem;
        }
    }
}

.videoPrevisualizacionContent {
    .listaReproduccionContainer {
        margin-top: 1.75rem;
        padding: 0 2vw;

        @media screen and (min-width: 992px) {
            margin-top: 1rem;
            padding: 0;
        }
    }

    .swiperNetflix {
        padding-bottom: 6rem;

        .slideContentVideoPrevio {
            position: relative;
            /* Necesario para que el preview se posicione encima */
            width: 100%;
            height: 100%;
        }

        .videoPreview {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 200;
            background: rgba($azulP, 1);
            transform: scale(0);
            opacity: 0;
            border-radius: 0px 0 10px 10px;
            /* inicialmente invisible */
            transition: all 0.3s ease-in-out;

            .previewVideoContent {
                .footerVideoContent {
                    border: 0px solid red;
                    border-radius: 0 0 10px 10px;
                    padding: .5rem 1rem;
                    background: rgba($azulP, 1);
                }

                .bodyVideoContent {
                    width: 100%;
                    height: 230px;
                    position: relative;
                    border: 0px solid yellow;
                    background: black;
                    border-radius: 10px;
                    overflow: hidden;

                    .titularVideoPopup {
                        font-family: var(--font-misti), sans-serif;
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1em;
                        letter-spacing: -.05em;
                        color: white;

                        @media screen and (min-width: 992px) {
                            font-size: 1em;
                            line-height: 1.25em;
                        }
                    }

                    .imgVideoPreivew {
                        position: absolute;
                        top: 0rem;
                        left: 0rem;
                        width: 100%;
                        height: 100%;
                        z-index: 100;

                        &::before {
                            content: '';
                            position: absolute;
                            background: linear-gradient(to bottom, rgba(#101010, 0), rgba($azulP, 1));
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 10;
                        }
                    }

                    img {
                        position: relative;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;


                    }

                    h3 {
                        position: absolute;
                        bottom: 1rem;
                        left: 0;
                        padding: 0 1rem;
                        z-index: 200;

                        br {
                            display: none;
                        }
                    }

                    .playerPopUp {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;

                        iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            // width: 100%;
                            // height: 230px;
                            // border: 0px solid green;
                        }
                    }
                }

            }

            /* suavidad */
            &.show {
                transform: scale(1);
                opacity: 1;
                /* visible */
            }
        }

        .slideVideoCard {
            height: 336px;
            overflow: hidden;
            border-radius: 10px;
            background: $azulP;
            cursor: pointer;
            position: relative;

            @media screen and (min-width: 992px) {
                height: auto;
            }

            a {
                text-decoration: none;
            }

            .cardLogoMarga {
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 3rem;
                height: 3rem;
                border: 0px solid red;
                z-index: 10;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .cardFooter {
                background: $azulP;
                padding: 1rem 1em;
                // height: 140px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                min-height: 136px;

                h3 {
                    font-family: var(--font-poppins), sans-serif;
                    font-size: .85rem;
                    line-height: 1.5em;
                    color: rgba(white, 1);
                    font-weight: 400;

                    @media screen and (min-width: 992px) {
                        font-size: .85rem;
                        line-height: 1.5em;
                    }

                    @media screen and (min-width: 1600px) {
                        font-size: 1rem;
                        line-height: 1.25em;
                    }
                }

                .dataVideoContent {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;

                    >div {
                        display: flex;
                        justify-content: flex-start;
                        gap: .5rem;

                        p {
                            font-family: var(--font-poppins), sans-serif;
                            font-size: 0.875rem;
                            line-height: 1.5em;
                            color: rgba($celesteP, 1);
                            font-weight: 400;

                            @media screen and (min-width: 992px) {
                                font-size: 0.875rem;
                                line-height: 1.5em;
                            }
                        }
                    }
                }
            }

            .cardBody {
                position: relative;
                height: 200px;
                overflow: hidden;
                border-radius: 0px 0 10px 10px;

                @media screen and (min-width: 992px) {
                    height: 164px;
                }

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
                    z-index: 5;
                }

                .playIcon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                }

                .imgContainer {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                .etiquetaCard {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .25rem 1rem;
                    border-radius: 30px;
                    background: $azulP;
                    z-index: 10;
                    @extend %parrafoBse;
                    @include colorTexto(blanco);
                    @include propiedadResponsiva(font-size, $parrafo);
                    font-weight: 400;
                }
            }
        }


    }
}

.bannerCarruselProducto {
    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 16px;
            height: 16px;
            border: 1px solid rgba($celesteP, 1);
        }

        .swiper-pagination-bullet-active {
            background: $celesteP;
        }
    }

    .swiper-button-next {
        background: $azulC;
        border-radius: 10px;
        width: 42px;
        height: 42px;
        box-sizing: border-box;
        right: 0rem;

        &::after {
            color: white;
            z-index: 1;
            font-size: 1.5rem;
        }
    }

    .swiper-button-prev {
        background: $azulC;
        border-radius: 10px;
        width: 42px;
        height: 42px;
        box-sizing: border-box;
        left: 0rem;

        &::after {
            color: white;
            font-size: 1.5rem;
        }
    }
}

.SwiperGanaderos {
    .swiper-button-next {
        border: 1px solid $celesteP !important;
        background: rgba($celesteP, 1) !important;
        width: 52px;
        height: 52px;
        right: 0rem !important;
        bottom: 1rem !important;
        top: auto !important;
        border-radius: 50%;
        padding: .65rem;

        @media screen and (min-width: 992px) {
            right: 8rem !important;
        }

        svg {
            path {
                fill: white !important;
            }
        }
    }

    .swiper-button-prev {
        border: 1px solid $celesteP !important;
        background: rgba($celesteP, 0.95) !important;

        width: 52px;
        height: 52px;
        right: 4rem !important;
        left: auto !important;
        bottom: 1rem !important;
        top: auto !important;
        border-radius: 50%;
        padding: .65rem;

        @media screen and (min-width: 992px) {
            right: 12rem !important;
        }


        svg {
            path {
                fill: white !important;
            }
        }
    }
}

.SwiperComportamos {
    .swiper-button-next {
        border: 1px solid $celesteP !important;
        background: rgba($celesteP, 1) !important;
        width: 52px;
        height: 52px;
        right: 0rem !important;
        bottom: 1rem !important;
        top: auto !important;
        border-radius: 50%;
        padding: .65rem;

        svg {
            path {
                fill: white !important;
            }
        }
    }

    .swiper-button-prev {
        border: 1px solid $celesteP !important;
        background: rgba($celesteP, 0.95) !important;

        width: 52px;
        height: 52px;
        right: 4rem !important;
        left: auto !important;
        bottom: 1rem !important;
        top: auto !important;
        border-radius: 50%;
        padding: .65rem;


        svg {
            path {
                fill: white !important;
            }
        }
    }
}


.swiperNetflix {
    &.vertical {
        padding-bottom: 6rem;
    }



    &.swiperNetflixProductoHome {
        padding-bottom: 6rem;

        @media screen and (min-width: 992px) {
            padding-bottom: 5rem;
        }

        @media screen and (min-width: 1400px) {
            padding-bottom: 7rem;
        }
    }

    .swiper-button-next {
        width: 52px;
        height: 52px;
        right: 8rem !important;
        bottom: 1rem !important;
        top: auto !important;
        border: 1px solid rgba($celesteP, 1);
        border-radius: 10px;
        padding: .65rem;
        background: rgba(#8FD2EA, .20);

        svg {
            path {
                fill: white;
            }
        }

        // &::after {
        //     color: white;
        //     z-index: 1;
        // }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     width: 100%;
        //     height: 106%;
        //     background: linear-gradient(to right, transparent, rgba($azulP, 1) 100%);
        //     opacity: .65;

        //     @media screen and (min-width: 992px) {
        //         opacity: 1;

        //     }
        // }
    }

    .swiper-button-prev {
        width: 52px;
        height: 52px;
        right: 12.25rem !important;
        left: auto !important;
        bottom: 1rem !important;
        top: auto !important;
        border: 1px solid rgba($celesteP, 1);
        border-radius: 10px;
        padding: .65rem;
        background: rgba(#8FD2EA, .20);
        // @media screen and (min-width: 992px) {
        //     width: 11.5rem;
        //     top: 1rem;
        // }


        svg {
            path {
                fill: white;
            }
        }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     width: 100%;
        //     height: 106%;
        //     background: linear-gradient(to left, transparent, rgba($azulP, 1) 100%);
        //     opacity: .65;

        //     @media screen and (min-width: 992px) {
        //         opacity: 1;

        //     }
        // }
    }

    &.swiperNetflixCategoriaHome {
        padding: 0;

        .swiper-button-prev {
            width: 34px;
            height: 34px;
            right: auto !important;
            left: 0rem !important;
            bottom: auto !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
            border: 1px solid rgba(#A2B5B9, 1);
            border-radius: 50%;
            padding: .65rem;
            background: rgba(#A2B5B9, 1);
            margin: 0 !important;

            svg {
                path {
                    fill: white;
                }
            }
        }

        .swiper-button-next {
            width: 34px;
            height: 34px;
            right: 0rem !important;
            bottom: auto !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
            border: 1px solid rgba(#A2B5B9, 1);
            border-radius: 50%;
            padding: .65rem;
            background: rgba(#A2B5B9, 1);
            margin: 0 !important;

            svg {
                path {
                    fill: white;
                }
            }
        }
    }

    &.vertical {

        .swiper-button-next,
        .swiper-button-prev {
            @media screen and (min-width: 992px) {
                width: 3.5rem;
            }

            // @media screen and (min-width: 1200px) {
            //     width: 12.5rem;
            // }

            // @media screen and (min-width: 1600px) {
            //     width: 24.5rem;
            // }
        }
    }

    &.swiperNetflixPro {
        .swiper-button-next {
            border: 1px solid #DD1A20 !important;
            background: rgba(#DD1A20, 0.2) !important;
        }

        .swiper-button-prev {
            border: 1px solid #DD1A20 !important;
            background: rgba(#DD1A20, 0.2) !important;
        }
    }

    &.swiperNetflixBonle {
        .swiper-button-next {
            border: 1px solid #D2008F !important;
            background: rgba(#B00477, 1) !important;
        }

        .swiper-button-prev {
            border: 1px solid #D2008F !important;
            background: rgba(#B00477, 1) !important;
        }
    }
}



.popupVideo {
    transform: scale(1.1);
    position: absolute;
    z-index: 1000;
    background: $azulP;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    .videoPlayView {
        width: 100%;
        border-radius: 0 0px 20px 20px;
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(black, 0.15) 0%, rgba($azulP, .35) 100%);
        }

        .titularDiv {
            font-size: 1rem;
            font-weight: 400;
            font-family: var(--font-misti), sans-serif;
            color: white;
            position: absolute;
            padding-right: 1rem;
            bottom: 1rem;
            left: 1rem;
            line-height: 1.25em;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }



    .videoControladorPopup {
        background: $azulP;

        .controladorFlex {
            padding: 1rem;
            display: flex;

        }
    }
}

/* Cambia el fondo y el borde del input */
.customSelectHomeProducts__control {
    background-color: transparent !important;
    border: 1px solid rgba($celesteP, 1) !important;
    border-radius: 30px !important;
    padding-left: 1rem;
    color: rgba($celesteP, 1) !important;
    width: 295px;
    height: 56px;
}

/* Cambia el color del placeholder */
.customSelectHomeProducts__placeholder {
    color: #fff;
}

/* Cambia el color del texto seleccionado */
.customSelectHomeProducts__single-value {
    color: rgba($celesteP, 1) !important;
}

/* Estiliza las opciones del menú */
.customSelectHomeProducts__menu {
    background-color: transparent;
}

.customSelectHomeProducts__option {
    color: #fff;
    background-color: transparent;
}

.customSelectHomeProducts__option--is-selected {
    background-color: #8fd2ea;
    color: #fff;
}

.customSelectHomeProducts__option--is-focused {
    background-color: #8fd2ea;
    color: #fff;
}

.swiperScrollHorizontal {
    &.swiper {
        // overflow-x: auto !important;
        /* Habilita el desplazamiento horizontal */
        scrollbar-width: thin;
        /* Personaliza la barra de desplazamiento */
        scrollbar-color: #8fd2ea transparent;
    }

    &

    /* Personaliza la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
    &.swiper::-webkit-scrollbar {
        height: 5px;
    }

    &.swiper::-webkit-scrollbar-thumb {
        background-color: #8fd2ea;
        border-radius: 10px;
    }

    /* Ajusta el tamaño de cada slide */
    .swiper-slide {
        // width: auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 10px;
    }

    .swiper-wrapper {
        padding-bottom: 3rem;
    }
}

.swiperScrollHorizontalNoticias {
    padding-bottom: 3rem !important;

    &.swiper {
        overflow-x: auto !important;
        /* Habilita el desplazamiento horizontal */
        scrollbar-width: thin;
        /* Personaliza la barra de desplazamiento */
        scrollbar-color: #8fd2ea transparent;
    }

    &

    /* Personaliza la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
    &.swiper::-webkit-scrollbar {
        height: 5px;
    }

    &.swiper::-webkit-scrollbar-thumb {
        background-color: #8fd2ea;
        border-radius: 10px;
    }

    /* Ajusta el tamaño de cada slide */
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}


// estilos generales para el CMS

.legalContent {
    @extend %parrafoBannerBase;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafoBanner);
    font-weight: 300;
    margin-top: 1rem;
    display: block;
}

/* Estilización del checkbox */
.customCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}

.customCheckbox input {
    display: none;
}

.checkboxBox {
    width: 20px;
    height: 20px;
    border: 2px solid $celesteP;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 8px;
    transition: background 0.2s;
}

.customCheckbox input:checked+.checkboxBox {
    background: $celesteP;
    color: white;
}

.checkboxLabel {
    font-size: 14px;
}


// definicion de contenido Dinamico

.contenidoHTML {
    h2 {
        font-family: var(--font-misti), sans-serif;
        font-size: 1.175rem;
        line-height: 1.5em;
        color: $celesteP;
        font-weight: 400;

        @media screen and (min-width: 992px) {
            font-size: 1.375rem;
            line-height: 1.75em;
        }
    }

    li,
    p {
        font-family: var(--font-poppins), sans-serif;
        font-size: 1rem;
        line-height: 1.5em;
        color: #fff;
        font-weight: 400;

        @media screen and (min-width: 992px) {
            font-size: 1rem;
            line-height: 1.75em;
        }
    }

    &.Pro {
        h2 {
            color: #fff;
        }
    }
}


.tableResponsiveNutricional {
    margin-top: 1.5rem;

    .table> :not(caption)>*>* {
        background: transparent;
    }

    .table {
        thead {
            tr {
                border: 1px solid $celesteP;

                th {
                    border: 0;
                    font-size: 1rem;
                    font-family: var(--font-poppins), sans-serif;
                    font-weight: 400;
                    color: $celesteP;
                    text-align: left;
                    padding: 1rem 1rem;

                    span {
                        color: white;
                    }
                }
            }
        }

        tbody {
            tr {
                border: 1px solid rgba($celesteP, 1);

                td {
                    border: 0;
                    font-size: 0.875rem;
                    font-family: var(--font-poppins), sans-serif;
                    font-weight: 400;
                    color: #D9D9D9;
                    padding: 1rem 1rem;

                    h3 {
                        font-size: 1rem;
                        font-family: var(--font-poppins), sans-serif;
                        font-weight: 400;
                        color: $celesteP;
                    }
                }
            }
        }
    }
}

.contenidoHTML {
    &.Pro {
        .tableResponsiveNutricional {
            .table {
                thead {
                    tr {
                        border: 1px solid #ED1C24;
                    }

                    th {
                        color: #fff;
                        text-align: center;
                    }
                }

                tbody {
                    tr {
                        border: 1px solid rgba(#ED1C24, 1);

                        td {
                            h3 {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.listaNoticiasCarruselHomeContainer {
    .swiperNetflix {
        padding-bottom: 6rem;

        @media screen and (min-width: 992px) {
            padding-bottom: 6rem;
        }


    }
}

.contenidoNoticiasHTML {
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin-bottom: 2rem;
    }

    .galeriaNoticiaDos {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        margin-top: 3rem;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }

        >div {
            flex: 1;

            p {
                font-family: var(--font-misti), sans-serif;
                font-size: .85rem;
                line-height: 1.5em;
                color: #1A172B;
                font-weight: 400;
                margin-bottom: .75rem;

                @media screen and (min-width: 992px) {
                    font-size: 1rem;
                    line-height: 1.35em;
                }
            }

            .galeriaImgContainer {
                width: 100%;
                height: 400px;
                overflow: hidden;
                border-radius: 20px;
                margin-bottom: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    .autorContainerNoticia {

        h2 {
            font-family: var(--font-misti), sans-serif;
            font-size: .95rem;
            line-height: 1.35em;
            color: #1A172B;
            font-weight: 400;
            margin-bottom: .75rem;

            @media screen and (min-width: 992px) {
                font-size: 1.125rem;
                line-height: 1.35em;
            }
        }
    }

    .descripcionMainContainer {
        a {
            font-family: var(--font-misti), sans-serif;
            font-size: .95rem;
            line-height: 1.5em;
            color: rgba($azulP, 1);
            font-weight: 400;
            margin-bottom: .75rem;

            @media screen and (min-width: 992px) {
                font-size: 1rem;
                line-height: 1.35em;
            }

            @media screen and (min-width: 1400px) {
                font-size: 1.125rem;
                line-height: 1.35em;
            }
        }

        p {
            font-family: var(--font-misti), sans-serif;
            font-size: .95rem;
            line-height: 1.5em;
            color: #1A172B;
            font-weight: 400;
            margin-bottom: .75rem;

            @media screen and (min-width: 992px) {
                font-size: 1rem;
                line-height: 1.35em;
            }

            @media screen and (min-width: 1400px) {
                font-size: 1.125rem;
                line-height: 1.35em;
            }
        }

        h2 {
            font-family: var(--font-misti), sans-serif;
            font-size: 1.5rem;
            line-height: 1.25em;
            color: #1A172B;
            font-weight: 400;
            margin-bottom: .75rem;

            @media screen and (min-width: 992px) {
                font-size: 1.85rem;
                line-height: 1.15em;
            }

            @media screen and (min-width: 1400px) {
                font-size: 2rem;
                line-height: 1.15em;
            }
        }

        h3 {
            font-family: var(--font-misti), sans-serif;
            font-size: 1.25rem;
            line-height: 1.5em;
            color: #1A172B;
            font-weight: 500;
            margin-bottom: .75rem;

            @media screen and (min-width: 992px) {
                font-size: 1.145rem;
                line-height: 1.15em;
            }

            @media screen and (min-width: 1400px) {
                font-size: 1.145rem;
                line-height: 1.15em;
            }
        }
    }
}

.iconReferenciaContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;

    img {
        width: 32px;
        height: 32px;
        object-fit: contain;
        margin: 0;
    }

    p {
        margin: 0 !important;
    }
}

.sinBr {
    br {
        display: none !important;
    }

}

.popupContentFilterProducts {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($azulP, .86);
    z-index: 10000;
    display: none;
    opacity: 0;

    .popupContentFilterProductsView {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        place-items: center;
    }

    .popupCenterContainer {
        grid-column: 2 / span 11;
        padding: 2.5rem 2rem 2rem;
        background: rgba($azulP, 1);
        border: 0px solid red;
        border-radius: 30px;
        overflow: hidden;

        .footerPopupContainer {
            display: flex;
            justify-content: flex-end;
            margin-top: 2.5rem;

            button {
                background: rgba($celesteP, 1);
                border: 1px solid rgba($celesteP, 1);
                padding: .5rem 1.5rem;
                border-radius: 30px;
                font-family: var(--font-misti), sans-serif;
                font-size: 1rem;
                line-height: 1.15em;
                color: rgba($azulP, 1);
                font-weight: 400;
                text-align: center;
                transition: .5s all ease-in-out;

                @media screen and (min-width: 992px) {
                    font-size: 1rem;
                    line-height: 1.15em;
                }
            }
        }

        .filtroOpcionesContent {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: .95rem;
            height: 200px;
            overflow: auto;

            @media screen and (min-width: 992px) {
                justify-content: flex-start;
                height: auto;
            }

            button {
                background: transparent;
                border: 1px solid rgba($celesteP, 1);
                padding: .5rem 1.5rem;
                border-radius: 30px;
                font-family: var(--font-misti), sans-serif;
                font-size: .75rem;
                line-height: 1.15em;
                color: rgba($celesteP, 1);
                font-weight: 400;
                text-align: center;
                transition: .5s all ease-in-out;

                @media screen and (min-width: 992px) {
                    font-size: 1rem;
                    line-height: 1.15em;
                }

                &.active,
                &:hover {
                    background: rgba($celesteP, 1);
                    color: $azulP;
                }
            }


        }

        h3 {
            font-family: var(--font-misti), sans-serif;
            font-size: 1.125rem;
            line-height: 1.25em;
            color: #fff;
            font-weight: 500;

            @media screen and (min-width: 992px) {
                font-size: 1.125rem;
                line-height: 1.25em;
            }
        }

        h2 {
            font-family: var(--font-misti), sans-serif;
            font-size: 1rem;
            line-height: 1.15em;
            color: rgba($celesteP, 1);
            font-weight: 500;
            margin-top: 1rem;

            @media screen and (min-width: 992px) {
                font-size: 1rem;
                line-height: 1.15em;
            }

        }
    }
}

// Flecha derecha personalizada
.swiper-button-next-custom {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease;

    // Icono de flecha (puedes usar SVG o texto)
    &::after {
        content: '>';
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }

    &:hover:not(.disabled) {
        background: rgba(0, 0, 0, 0.8);
    }
}

.redesContainerMundo {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 30px 0px 0px 30px;
    background: #DF008F;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem 1rem;

    &.gloria {
        background: #1A172B;
    }

    &.pro {
        background: #000;
    }

    img {
        width: 25px;
        height: 25px;
        object-fit: contain;

        @media screen and (min-width: 992px) {
            width: 35px;
            height: 35px;
        }
    }
}