@use 'vars/variables' as *;
@use 'vars/mixins' as *;
@import "./bootstrap-custom";

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

.misti {
    font-family: var(--fuente-misti), sans-serif;
}

.poppins {
    font-family: var(--font-poppins), sans-serif;
}

.containerFluid {
    padding: 0 1rem;

    @media screen and (min-width: 992px) {
        padding: 0 2vw;
    }
}

.marginTop30 {
    margin-top: 20px !important;
}

.containerFluidLeft {
    padding: 0 0 0 2vw;
}

//bg Globales
.bgAzul {
    background: $azulP !important;
}

.bgCeleste {
    background: $celesteP !important;
}

// Deninicion de Color de Texto y pesos
.blancoTxt {
    color: $blancoP !important;
}

.azulTxt {
    color: $azulP !important;
}

.azulCTxt {
    color: $azulC !important;
}

.celesteTxt {
    color: $celesteP !important;
}

.negroTxt {
    color: #000 !important;
}

.rojoTxt {
    color: $rojoP !important;
}

.fontLight {
    font-weight: 300 !important;
}

.boldMedium {
    font-weight: 500 !important;
}

.boldRegular {
    font-weight: 400 !important;
}

.bannerTitular {
    @extend %tituloBannerBase;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $tituloBanner);
    font-weight: 400;
}

.bannerParrafo {
    @extend %parrafoBannerBase;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafoBanner);
    font-weight: 300;
}

.titularPequeno {
    @extend %tituloBasePequeno;
    @include colorTexto(celeste);
    @include propiedadResponsiva(font-size, $titularPequeno);
    font-weight: 400;
}

.titularPequeno2 {
    @extend %tituloBasePequeno;
    @include colorTexto(azul);
    @include propiedadResponsiva(font-size, $titularPequeno2);
    font-weight: 400;
}

.titularMediano {
    @extend %tituloBaseMediano;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $titularMediano);
    font-weight: 400;
}

.titularMedianoFooter {
    @extend %tituloBaseMediano;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $titularMedianoFooter);
    font-weight: 400;
}

.titularGrande {
    @extend %tituloBaseGrande;
    @include colorTexto(celeste);
    @include propiedadResponsiva(font-size, $titularGrande);
    font-weight: 400;
}

.titularExtraGrande {
    @extend %tituloBaseExtraGrande;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $titularExtraGrande);
    font-weight: 300;
}

.parrafoMediano {
    @extend %parrafoMedianoBse;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafo);
    font-weight: 400;
}

.parrafoMediano2 {
    @extend %parrafoMedianoBse2;
    @include colorTexto(azul);
    @include propiedadResponsiva(font-size, $parrafoMediano2);
    font-weight: 400;
}

.parrafoPequeno {
    @extend %parrafoBse;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafoPequeno);
    font-weight: 400;
}

.parrafoGrande {
    @extend %parrafoGrandeBse;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafoGrande);
    font-weight: 400;
}

.parrafoExtraGrande {
    @extend %parrafoExtraGrandeBse;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafoExtraGrande);
    font-weight: 300;
}

.h1--blanco {
    @extend %tituloBaseGrande;
    @include colorTexto(blanco);
    @include tamanoTitulo(h1);
}

.btnStandart {
    @extend %btnBase;
    @include button-gradiente($rojoP, $rojoP, $blancoP);
}

// Definicon de marcas de Colores

.color1 {
    background: $colorBonle !important;
}

.color2 {
    background: $colorActivio !important;
}

.color3 {
    background: $colorPro !important;
}

.color4 {
    background: $colorGloria !important;
}

.color5 {
    background: $colorBattiMix !important;
}

.containerHomeMain {
    margin-top: 0rem;
    position: relative;
    z-index: 30;

    @media screen and (min-width: 768px) {
        margin-top: -5rem;
    }

    @media screen and (min-width: 992px) {
        margin-top: -8rem;
    }

    @media screen and (min-width: 1200px) {
        margin-top: -6.5rem;
    }
}


.bgBody {
    background-image: url('/bgAzul2.webp'); // Ruta relativa en `public/`
    background-size: cover; // Ajusta la imagen al tamaño de la pantalla
    background-position: top top; // Centra la imagen
    background-repeat: no-repeat; // Evita que se repita
}

body {
    background-color: $azulP;
}

// Esto es para el banner principal del HOME

.bannerCarruselHome {
    mask-image: linear-gradient(to top, transparent 0%, $azulP 30%);

    .swiper-button-next,
    .swiper-button-prev {
        top: var(--swiper-navigation-top-offset, 43%);

        @media screen and (min-width: 992px) {
            top: var(--swiper-navigation-top-offset, 50%);
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        color: white;
        border: 0px solid red;
    }

    .swiper-pagination {
        text-align: right;
        padding-right: 2rem;
    }

    .swiper-pagination-bullet {
        width: 54px;
        height: 4px;
        background: white;
        border-radius: 4px;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 6rem;
        left: auto;
        width: 100%;
        right: 0;

        @media screen and (min-width: 678px) {
            bottom: 8rem;
        }

        @media screen and (min-width: 992px) {
            bottom: 13rem;
            width: 50%;
        }

        @media screen and (min-width: 1200px) {
            bottom: 10rem;
        }

        @media screen and (min-width: 1600px) {
            bottom: 13rem;
        }
    }
}

.videoPrevisualizacionContent {
    margin-top: 3rem;

    .listaReproduccionContainer {
        margin-top: 1.75rem;

        @media screen and (min-width: 992px) {
            margin-top: 1rem;
        }
    }

    .swiperNetflix {

        .slideVideoCard {
            height: 300px;
            overflow: hidden;
            border-radius: 10px;
            background: $azulP;

            @media screen and (min-width: 992px) {
                height: 290px;
            }

            .cardFooter {
                background: $azulP;
                padding: 1rem 2rem;
                height: 111px;

                .dataVideoContent {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;

                    >div {
                        display: flex;
                        justify-content: flex-start;
                        gap: .5rem;

                        p {
                            color: $celesteP;
                        }
                    }
                }
            }

            .cardBody {
                position: relative;
                height: 164px;
                overflow: hidden;
                border-radius: 0px 0 10px 10px;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
                    z-index: 5;
                }

                .playIcon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                }

                .imgContainer {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                .etiquetaCard {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .25rem 1rem;
                    border-radius: 30px;
                    background: $azulP;
                    z-index: 10;
                    @extend %parrafoBse;
                    @include colorTexto(blanco);
                    @include propiedadResponsiva(font-size, $parrafo);
                    font-weight: 400;
                }
            }
        }


    }
}

.swiperNetflix {

    .swiper-button-next {
        width: 5.5rem;
        height: 100%;
        right: 0;
        top: 1rem;

        @media screen and (min-width: 992px) {
            width: 11.5rem;
        }

        &::after {
            color: white;
            z-index: 1;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 106%;
            background: linear-gradient(to right, transparent, rgba($azulP, 1) 100%);
            opacity: .65;

            @media screen and (min-width: 992px) {
                opacity: 1;

            }
        }
    }

    .swiper-button-prev {
        width: 5.5rem;
        height: 100%;
        left: 0;
        top: 1rem;

        @media screen and (min-width: 992px) {
            width: 11.5rem;
            top: 1rem;
        }


        &::after {
            color: white;
            z-index: 1;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 106%;
            background: linear-gradient(to left, transparent, rgba($azulP, 1) 100%);
            opacity: .65;

            @media screen and (min-width: 992px) {
                opacity: 1;

            }
        }
    }

    &.vertical {

        .swiper-button-next,
        .swiper-button-prev {
            @media screen and (min-width: 992px) {
                width: 9.5rem;
            }

            @media screen and (min-width: 1200px) {
                width: 12.5rem;
            }

            @media screen and (min-width: 1600px) {
                width: 24.5rem;
            }
        }
    }
}



.popupVideo {
    transform: scale(1.1);
    position: absolute;
    z-index: 1000;
    background: $azulP;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    .videoPlayView {
        width: 100%;
        border-radius: 0 0px 20px 20px;
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(black, 0.15) 0%, rgba($azulP, .35) 100%);
        }

        .titularDiv {
            font-size: 1rem;
            font-weight: 400;
            font-family: var(--fuente-misti), sans-serif;
            color: white;
            position: absolute;
            padding-right: 1rem;
            bottom: 1rem;
            left: 1rem;
            line-height: 1.25em;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }



    .videoControladorPopup {
        background: $azulP;

        .controladorFlex {
            padding: 1rem;
            display: flex;

        }
    }
}

/* Cambia el fondo y el borde del input */
.customSelectHomeProducts__control {
    background-color: transparent !important;
    border: 1px solid #8fd2ea;
    color: #fff;
    width: 295px;
    height: 56px;
}

/* Cambia el color del placeholder */
.customSelectHomeProducts__placeholder {
    color: #fff;
}

/* Cambia el color del texto seleccionado */
.customSelectHomeProducts__single-value {
    color: #fff !important;
}

/* Estiliza las opciones del menú */
.customSelectHomeProducts__menu {
    background-color: transparent;
}

.customSelectHomeProducts__option {
    color: #fff;
    background-color: transparent;
}

.customSelectHomeProducts__option--is-selected {
    background-color: #8fd2ea;
    color: #fff;
}

.customSelectHomeProducts__option--is-focused {
    background-color: #8fd2ea;
    color: #fff;
}

.swiperScrollHorizontal {
    &.swiper {
        overflow-x: auto !important;
        /* Habilita el desplazamiento horizontal */
        scrollbar-width: thin;
        /* Personaliza la barra de desplazamiento */
        scrollbar-color: #8fd2ea transparent;
    }

    &

    /* Personaliza la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
    &.swiper::-webkit-scrollbar {
        height: 5px;
    }

    &.swiper::-webkit-scrollbar-thumb {
        background-color: #8fd2ea;
        border-radius: 10px;
    }

    /* Ajusta el tamaño de cada slide */
    .swiper-slide {
        // width: auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 10px;
    }

    .swiper-wrapper {
        padding-bottom: 3rem;
    }
}

.swiperScrollHorizontalNoticias {
    padding-bottom: 3rem !important;

    &.swiper {
        overflow-x: auto !important;
        /* Habilita el desplazamiento horizontal */
        scrollbar-width: thin;
        /* Personaliza la barra de desplazamiento */
        scrollbar-color: #8fd2ea transparent;
    }

    &

    /* Personaliza la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
    &.swiper::-webkit-scrollbar {
        height: 5px;
    }

    &.swiper::-webkit-scrollbar-thumb {
        background-color: #8fd2ea;
        border-radius: 10px;
    }

    /* Ajusta el tamaño de cada slide */
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}


// estilos generales para el CMS

.legalContent {
    @extend %parrafoBannerBase;
    @include colorTexto(blanco);
    @include propiedadResponsiva(font-size, $parrafoBanner);
    font-weight: 300;
    margin-top: 1rem;
    display: block;
}