@use 'vars/variables' as *;

.marcaContainerPage {
    margin-top: 0rem;
    position: relative;
    z-index: 30;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        margin-top: -8rem;
    }

    @media screen and (min-width: 992px) {
        margin-top: -4.5rem;
    }

    .fondoBg {
        position: absolute;
        bottom: -10rem;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.titularMarcaHome {
    font-family: var(--font-poppins), sans-serif;
    font-size: 1.225rem;
    line-height: 1.5em;
    color: rgba(#1A172B, 1);
    font-weight: 600;

    @media screen and (min-width: 992px) {
        font-size: 1.625rem;
        line-height: 1.75em;
    }
}

.descripcionMarcaHome {
    font-family: var(--font-poppins), sans-serif;
    font-size: .85rem;
    line-height: 1.5em;
    color: rgba(#1A172B, 1);
    font-weight: 400;

    @media screen and (min-width: 992px) {
        font-size: 1.125rem;
        line-height: 1.75em;
    }
}

.listadoCard {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0 4rem;

    @media screen and (min-width:992px) {
        justify-content: center;
        flex-wrap: nowrap;
        padding: 2.5rem 0 4rem;
    }
}

.btnMarca {
    width: 45%;
    height: 150px;
    display: block;
    border: 1px solid rgba(#AFAFAF, .5);
    border-radius: 30px;
    transition: .5s ease-in-out all;
    padding: 2rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    background: #FFFFFF;

    /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(10px);

    @media screen and (min-width:768px) {
        flex: 1;
    }

    @media screen and (min-width:992px) {
        flex: initial;
        width: 231px;
        height: 180px;
    }

    &:hover {
        transform: scale(1.05);
        border: 1px solid white
    }

    img {
        width: 100%;
        object-fit: contain;
        height: 100%;
    }
}