@use 'vars/variables' as *;
@use 'vars/mixins' as *;

.openMenuContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $azulP;
    z-index: 8010;
    overflow: hidden;
    transform: translateX(-100%);

    .containerFluid {
        position: relative;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #888 #eee;
    }

    .linkEnterno {
        position: absolute;
        top: 1.5rem;
        right: 6rem;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background: $celesteP;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        text-decoration: none;
        z-index: 11;

        @media screen and (min-width: 768px) {

            width: 228px;
            height: 54px;
        }

        @media screen and (min-width: 1600px) {
            right: 7rem;
        }

        span {
            font-family: var(--font-misti), sans-serif;
            font-size: 1rem;
            line-height: 1.25em;
            color: #1D192F;
            font-weight: 500;
            display: none;

            @media screen and (min-width: 768px) {
                display: block;
            }

            @media screen and (min-width: 992px) {
                font-size: 1rem;
                line-height: 1.25em;
            }
        }
    }

    .btnCloseContainer {
        position: absolute;
        top: 1.5rem;
        right: 2vw;
        cursor: pointer;
        z-index: 11;

        img {
            width: 58px;
            height: auto;
            object-fit: contain;
        }
    }

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        height: 100vh;
        position: relative;



        >div {
            &:nth-child(1) {
                grid-column: 1 / -1;

                @media screen and (min-width: 768px) {
                    grid-column: 1 / span 5;
                }

                a {
                    text-decoration: none;
                }

                .listaMenuContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: calc(100vh - 100px);

                    nav {
                        margin-top: 0;

                        @media screen and (min-width: 1400px) {
                            margin-top: 4rem;
                        }

                        a {
                            font-size: 2rem;
                            line-height: 1.5em;
                            font-family: var(--fuente-misti), sans-serif;
                            font-weight: 300;
                            color: $blancoP;
                            text-decoration: none;
                            border-top: 1px solid #443D72;
                            display: block;
                            padding: .5rem 0 .5rem 2rem;

                            @media screen and (min-width: 992px) {
                                font-size: 1.5rem;
                                line-height: 1.5em;
                            }

                            @media screen and (min-width: 1400px) {
                                font-size: 2rem;
                                line-height: 1.5em;
                            }

                        }

                        >a {
                            &:last-child {
                                border-bottom: 1px solid #443D72;
                            }
                        }

                        .menuMultiple {
                            border-top: 1px solid #443D72;

                            .menuMultipleHeader {
                                display: flex;
                                justify-content: flex-start;
                                gap: 2rem;
                                cursor: pointer;
                                padding: .5rem 1rem 0 2rem;

                                h2 {
                                    font-size: 2rem;
                                    line-height: 1.5em;
                                    font-family: var(--fuente-misti), sans-serif;
                                    font-weight: 300;
                                    color: $blancoP;
                                    text-decoration: none;
                                    margin-bottom: .5rem;
                                    min-width: 100px;

                                    @media screen and (min-width: 992px) {
                                        font-size: 1.5rem;
                                        line-height: 1.5em;
                                    }

                                    @media screen and (min-width: 1400px) {
                                        font-size: 2rem;
                                        line-height: 1.5em;
                                    }
                                }

                                img {
                                    width: 20px;
                                    height: auto;
                                    object-fit: contain;
                                    // margin-top: .5rem;
                                }
                            }

                            .menuMultipleListado {
                                height: 0;
                                overflow: hidden;
                                border: 0px solid #ccc;
                                /* Scroll personalizado (Firefox) */
                                // scrollbar-width: thin;
                                // scrollbar-color: #888 #eee;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                flex-direction: column;
                                gap: 0rem;
                                transition: height .5s ease-in;

                                .subMenuContainer {
                                    width: 100%;

                                    .headerSubMenu {
                                        display: flex;
                                        width: 100%;
                                        padding: 1rem 1rem 1rem 3.75rem;
                                        justify-content: space-between;
                                        cursor: pointer;
                                        border-top: 1px solid #443D72;
                                        background: rgba(#443D72, .20);

                                        h2 {
                                            font-size: 1rem;
                                            font-family: var(--fuente-misti), sans-serif;
                                            font-weight: 300;
                                            color: white;
                                        }

                                        p {
                                            width: 20px;
                                            text-align: center;
                                            font-size: 1rem;
                                            font-family: var(--fuente-misti), sans-serif;
                                            color: white;

                                            &:after {
                                                content: '+';
                                            }


                                        }

                                        ul {
                                            margin: 0;
                                            list-style: none;
                                            width: 100%;
                                            padding: 0;
                                            display: none;

                                            li {
                                                color: $blancoP;

                                                a {
                                                    padding-left: 4.5rem;
                                                }

                                            }
                                        }

                                        &.active {
                                            &+ul {
                                                display: block;
                                            }

                                            p {
                                                &:after {
                                                    content: '-';
                                                }
                                            }
                                        }
                                    }


                                    ul {
                                        margin: 0;
                                        list-style: none;
                                        width: 100%;
                                        padding: 0;
                                        display: none;
                                        background: rgba(#443D72, .25);

                                        li {
                                            color: $blancoP;

                                            a {
                                                padding-left: 4.5rem;
                                            }

                                        }
                                    }
                                }



                                &.active {
                                    height: auto;
                                }

                                a {
                                    font-size: 1rem;
                                    display: flex;
                                    border-top: 1px solid #443D72;
                                    width: 100%;
                                    background: rgba(#443D72, .20);
                                    padding: 1rem 2rem 1rem 3.75rem;
                                    justify-content: space-between;


                                }

                                &::-webkit-scrollbar {
                                    width: 8px;
                                }

                                &::-webkit-scrollbar-track {
                                    background: #eee;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: #888;
                                    border-radius: 10px;
                                    border: 2px solid #eee;
                                }
                            }


                        }
                    }

                    .footerContainer {
                        margin-top: 2rem;

                        .cierreFooter {
                            margin-top: 0rem;


                            .LegalBox {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;
                                margin-top: 1rem;
                                // flex-direction: column;
                                padding-left: 2rem;
                                margin-bottom: 1rem;

                                a {
                                    font-size: .85rem;
                                    font-family: var(--fuente-misti), sans-serif;
                                    font-weight: 300;
                                    color: $blancoP;
                                    text-decoration: none;
                                    line-height: 1.75em;
                                }
                            }

                            .redesBox {
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                gap: 2rem;
                                border-bottom: 1px solid #443D72;
                                padding: 1rem 0 1rem;

                                img {
                                    width: 45px;
                                    height: 45px;

                                }
                            }

                        }

                        .redesContainer {
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 1rem;
                            width: 294px;
                            margin-left: 2rem;
                            margin-top: 1rem;
                        }

                        .eticaContainer {
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 1rem;
                            width: 294px;
                            margin-left: 2rem;
                            margin-top: 2rem;

                            a {
                                h4 {
                                    font-size: .85rem;
                                    color: $celesteP;
                                    font-family: var(--fuente-misti), sans-serif;
                                    font-weight: 400;
                                }

                                h5 {
                                    font-size: 1.15rem;
                                    color: white;
                                    font-family: var(--fuente-misti), sans-serif;
                                    font-weight: 300;
                                }
                            }
                        }

                        >div {
                            &:nth-child(1) {
                                h3 {
                                    margin: 0 0 1rem 0;
                                }
                            }

                            .item2 {
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                gap: .5rem;
                                margin-bottom: 0rem;
                                padding-left: 2rem;
                            }

                            .item {
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                gap: .5rem;
                                margin-bottom: 1rem;
                                padding-left: 2rem;

                                h2,
                                a {
                                    font-size: 1.35rem;
                                    color: white;
                                    font-family: var(--fuente-misti), sans-serif;
                                    font-weight: 300;
                                    letter-spacing: -.05em;
                                }

                                .iconPhone {
                                    margin-top: .25rem;
                                }

                                .iconMail {
                                    margin-top: .5rem;

                                    @media screen and (min-width: 1200px) {
                                        margin-top: .75rem;
                                    }
                                }
                            }
                        }
                    }


                }

                .logoContainer {
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    padding-left: 2rem;

                    a {
                        text-decoration: none;

                        img {
                            width: 120px;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                }


            }

            &:nth-child(2) {
                display: none;
                position: relative;

                @media screen and (min-width: 768px) {
                    grid-column: 6 / -1;
                    display: block;
                }

                .bgCurva {
                    position: absolute;
                    z-index: 11;
                    top: 0;
                    left: 0;
                    width: 155px;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }
                }

                .bgContainer {
                    position: absolute;
                    top: 0;
                    right: -2vw;
                    width: 100%;
                    height: 100vh;
                    z-index: 10;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        // clip-path: ellipse(87.64% 161.4% at 87.93% 47.50%);
                        // clip-path: ellipse(88.64% 100.4% at 89.37% 52.15%);
                    }
                }


            }
        }
    }
}

.navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 5000;
    background: $azulP;

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;


        >div {
            &:nth-child(1) {
                grid-column: 1 / span 3;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                @media screen and (min-width: 992px) {
                    grid-column: 1 / span 2;
                }

                .logoContainer {
                    a {
                        text-decoration: none;

                        img {
                            width: 100%;
                            max-width: 120px;
                            height: auto;
                            object-fit: contain;
                            object-position: center;
                        }
                    }

                }
            }

            &:nth-child(2) {
                grid-column: 6 / -1;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                gap: .35rem;

                @media screen and (min-width: 768px) {
                    grid-column: 7 / -1;
                    gap: 1rem;
                }

                @media screen and (min-width: 992px) {
                    grid-column: 8 / -1;
                }

                .linkEnterno {
                    width: 34px;
                    height: 34px;
                    border-radius: 30px;
                    background: $celesteP;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem;
                    text-decoration: none;

                    @media screen and (min-width: 768px) {

                        width: 228px;
                        height: 54px;
                    }

                    span {
                        font-family: var(--font-misti), sans-serif;
                        font-size: 1rem;
                        line-height: 1.25em;
                        color: #1D192F;
                        font-weight: 500;

                        display: none;

                        @media screen and (min-width: 768px) {
                            display: block;
                        }

                        @media screen and (min-width: 992px) {
                            font-size: 1rem;
                            line-height: 1.25em;
                        }
                    }
                }

                .userLoginContainer {
                    // flex: 1;

                    .btnLogin {
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        background: #38AB66;
                        border: 1px solid #38AB66;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        @media screen and (min-width: 768px) {
                            width: 54px;
                            height: 54px;
                        }
                    }
                }

                .userContainer {
                    // flex: 1;

                    .letterUserContainer {
                        width: 34px;
                        height: 34px;
                        background: $verdeS;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        font-size: 1.625rem;
                        font-family: var(--font-poppins), sans-serif;
                        line-height: 1.5em;
                        color: $blancoP;
                        border: 1px solid #87CCA3;

                        @media screen and (min-width: 768px) {
                            width: 54px;
                            height: 54px;
                        }
                    }
                }

                .menuButton {
                    width: 38px;
                    height: 34px;
                    position: relative;
                    border: 1px solid $blancoP;
                    border-radius: 10px;

                    @media screen and (min-width: 768px) {
                        width: 58px;
                        height: 54px;
                    }

                    >div {
                        position: absolute;
                        height: 3px;
                        background: rgba($blancoP, 1);
                        right: .35rem;
                        border-radius: 1px;
                        top: .5rem;

                        @media screen and (min-width: 768px) {
                            top: 1rem;
                            right: .65rem;
                        }

                        &:nth-child(1) {
                            width: 25px;

                            @media screen and (min-width: 768px) {
                                width: 39px;
                            }
                        }

                        &:nth-child(2) {
                            width: 20px;
                            top: .95rem;

                            @media screen and (min-width: 768px) {
                                width: 30px;
                                top: 1.5rem;
                            }
                        }

                        &:nth-child(3) {
                            width: 17px;
                            top: 1.35rem;

                            @media screen and (min-width: 768px) {
                                width: 19px;
                                top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}