@use 'vars/variables' as *;
@use 'vars/mixins' as *;


.videoPrevisualizacionHorizontalContent {
    margin-top: 4rem;

    .headerContainer {
        padding: 0 0 1rem;
    }

    .listaReproduccionContainer {
        margin-top: 1rem;

        @media screen and (min-width: 992px) {
            margin-top: 0rem;
        }

        .slideVideoCard {
            border-radius: 10px;
            height: 587px;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            @media screen and (min-width: 992px) {
                height: 450px;
            }

            @media screen and (min-width: 1200px) {
                height: 500px;
            }

            @media screen and (min-width: 1400px) {
                height: 560px;
            }

            @media screen and (min-width: 1600px) {
                height: 587px;
            }



            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
                z-index: 5;
            }

            .cardFooter {
                position: absolute;
                bottom: 1.5rem;
                left: 0rem;
                z-index: 20;
                width: 100%;
                min-height: 70px;
                box-sizing: border-box;
                padding: 0 2.5rem 0 2rem;
            }

            .cardFooterNumber {
                position: absolute;
                bottom: 0rem;
                right: 0rem;
                z-index: 19;

                h4 {
                    font-family: var(--font-misti), sans-serif;
                    font-size: 32.5rem;
                    line-height: .75em;
                    -webkit-text-stroke: 1px rgba($celesteP, .8);
                    color: transparent;

                    @media screen and (min-width: 992px) {
                        font-size: 21rem;
                        line-height: .8em;
                    }

                    // @media screen and (min-width: 1200px) {
                    //     font-size: 28rem;
                    //     line-height: .75em;
                    // }

                    @media screen and (min-width: 1400px) {
                        font-size: 21.5rem;
                        line-height: .75em;
                    }

                    @media screen and (min-width: 1600px) {
                        font-size: 26.5rem;
                        line-height: .75em;
                    }
                }
            }

            .cardBody {
                width: 100%;
                height: 100%;

                .imgContainer {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: .5s ease-in-out all;
                }
            }

            .etiquetaCard {
                position: absolute;
                top: 1rem;
                left: 1rem;
                padding: .25rem 1rem;
                border-radius: 30px;
                background: $azulP;
                z-index: 10;
                @extend %parrafoBse;
                @include colorTexto(blanco);
                @include propiedadResponsiva(font-size, $parrafo);
                font-weight: 400;
                z-index: 10;
            }

            &:hover {
                .cardBody {
                    .imgContainer {
                        transform: scale(1.1);
                    }
                }
            }

        }

        .slideVideoCardV {
            border-radius: 10px;
            height: 587px;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            @media screen and (min-width: 992px) {
                height: 450px;
            }

            @media screen and (min-width: 1200px) {
                height: 500px;
            }

            @media screen and (min-width: 1400px) {
                height: 560px;
            }

            @media screen and (min-width: 1600px) {
                height: 587px;
            }



            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
                z-index: 5;
            }



            .cardFooter {
                position: absolute;
                bottom: 0rem;
                left: 0rem;
                z-index: 20;
                width: 100%;
                height: 130px;
                box-sizing: border-box;
                padding: 0.75rem 2.5rem 2rem 2rem;
                background: rgba($azulP, 1);

                .infoContainer {
                    position: relative;
                    z-index: 10;
                    display: flex;
                    justify-content: flex-start;
                    gap: 1rem;
                    align-items: flex-start;
                }

                .curvaContainer {
                    position: absolute;
                    top: -2rem;
                    left: 0rem;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }

            }

            .cardFooterNumber {
                position: absolute;
                bottom: 0rem;
                right: 0rem;
                z-index: 19;

                h4 {
                    font-family: var(--font-misti), sans-serif;
                    font-size: 32.5rem;
                    line-height: .75em;
                    -webkit-text-stroke: 1px rgba($celesteP, .8);
                    color: transparent;

                    @media screen and (min-width: 992px) {
                        font-size: 21rem;
                        line-height: .8em;
                    }

                    // @media screen and (min-width: 1200px) {
                    //     font-size: 28rem;
                    //     line-height: .75em;
                    // }

                    @media screen and (min-width: 1400px) {
                        font-size: 21.5rem;
                        line-height: .75em;
                    }

                    @media screen and (min-width: 1600px) {
                        font-size: 26.5rem;
                        line-height: .75em;
                    }
                }
            }

            .cardBody {
                width: 100%;
                height: 100%;

                .imgContainer {
                    width: 100%;
                    height: 90%;
                    object-fit: cover;
                    object-position: center;
                    transition: .5s ease-in-out all;
                }
            }

            .etiquetaCard {
                position: absolute;
                top: 1rem;
                left: 1rem;
                padding: .25rem 1rem;
                border-radius: 30px;
                background: $azulP;
                z-index: 10;
                @extend %parrafoBse;
                @include colorTexto(blanco);
                @include propiedadResponsiva(font-size, $parrafo);
                font-weight: 400;
                z-index: 10;
            }

            &:hover {
                .cardBody {
                    .imgContainer {
                        transform: scale(1.1);
                    }
                }
            }

        }


    }
}

.videoFullPage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(#101010, 0), rgba($azulP, 1));
        // background: rgba(#000, .5);
        z-index: 1; // Asegura que el ::before esté por encima del video
    }
}

.filtroContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    button {
        background: transparent;
        border: 1px solid rgba($celesteP, 1);
        text-align: center;
        border-radius: 30px;
        padding: .5rem 1rem;
        color: $celesteP;
        transition: .5s ease-out all;

        &:hover,
        &.active {
            background: rgba($celesteP, 1);
            color: $azulP;
        }
    }
}